* {
    margin: 0%;
    padding: 0%;
    list-style: none;
}

.mainn {
    width: 100%;
    height: 150vh;
    background-image: linear-gradient(to left bottom, #370505, #5d0020, #7d004d, #840093, #2e12eb);
    display: grid;
    place-items: center;
}

.mainn .container {
    width: 50%;
    height: 55%;
    border-radius: 5%;
    background-image: linear-gradient(to left top, #fff400, #ffb600, #ff6b52, #ff0091, #eb12cf);
}

.mainn .container .one {
    background: red;
}

.mainn .container .two {
    background: cyan;
    display: grid;
    place-items: center;
}

.mainn .container .two .link ul li {
    padding-top: 2rem;
}

.mainn .container .two .link ul li a {
    text-decoration: none;
    font-size: 1.5rem;
}

.mainn .container .two .link ul li i {
    font-size: 1.5rem;
}

@media (max-width: 600px) {
    .mainn {
        height: 210vh;
    }
    .mainn .container {
        height: 80%;
    }
}