.love {
    color: chartreuse;
}

@media (max-width:525px) {
    .love {
        background-color: black;
        width: 100%;
    }
    .love1 .love2 {
        padding-top: 15px;
        color: chartreuse;
    }
}