.love {
    color: chartreuse;
}

@media (max-width:600px) {
    .love {
        width: 410px;
    }
    .love1 .love2 {
        padding-right: 5rem;
        padding-top: 15px;
        color: chartreuse;
    }
    .love1 .player {
        width: 35rem;
    }
    .love1 .player .vdo {
        margin-right: 8rem;
    }
}